header {
    background-color: blue;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    background-image: url("../images/wallpaper2.jpg");
    background-repeat: 1;
    background-size: cover;
}

content {
    margin: 0px 3px 0px 3px;
    display: grid;
    grid-template-areas: 'news phones phones phones phones';
}

#phones {
    opacity: 1;
    grid-area: phones;
}

.phone img {
    grid-area: img;
     /*width: 150px;
     height: 150px;*/
}

.phone img:hover {
    width: auto;
    height: auto;
}

* {
    font-family: Palatino !important;
}

#news h4 {
    float: left;
    padding-bottom: 0px;
}
#news h5 {
    float: right;
}
#news p {
    clear: both;
    padding-bottom: 20px;
}

#news {
    grid-area: news;
    background-color: #F94AF297;
    padding: 10px;
    margin: 20px 10px 0px 5px;
    border-radius: 10px;
}

.phone .text {
    grid-area: text;
}

.phone {
    display: grid;
    grid-template-areas: "text text img";
    opacity: 0.9;
    min-height: 60px;
    background-color: gray;
    border-radius: 10px;
    padding-left: 15px;
}
.phone p {
    padding-bottom: 10px;
}
