
nav {
    border-style: solid;
    border-width: 10px;
    border-color: #1a4791;
    margin: 10px 3px 10px 3px;
    padding: 10px;
    background: #999999;
    /*visibility: hidden;*/
}

.navitem {
    margin: 0px;
    padding: 7px 50px 7px 50px;
    font-size: 22px;
    max-width: 200px;
    text-align: center;
}

.nav_right {
    float: right;
}
